@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@400;500;600;700&family=Moo+Lah+Lah&family=Passions+Conflict&display=swap');
:root {
    --main-color: #D31B27;
    --main-secondary-color: #2A2A2A;
    --main-heading-font: 'Acme', sans-serif;
    --main-regular-font: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(157.24deg, #EBE7E6 5.7%, #E8E4E3 19.99%, #DFD9D9 58.46%);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

/* -----------her0----- */

/* //images animation */
.visible {
    display: flex;
}

.hidden {
    display: none;
}

.hero .overlay_shape h5 {
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.hero .overlay_shape h5 span {
    font-family: 'Moo Lah Lah';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 49px;
    color: #D31B27;
}

.hero .overlay_shape h1 {
    color: black;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 7.2rem;
    padding-top: 10px;
    font-family: var(--main-heading-font);
}

.hero .overlay_shape p {
    color: #2A2A2A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--main-regular-font);
    padding: 10px 0;
}

.hero-btn {
    color: #fff;
    border-radius: 24px;
    background-color: var(--main-color);
    padding: 12px 33px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: var(--regular-font);
    border: none;
    transition: all .9s ease;
}

.hero-btn:hover {
    transition: all .9s ease;
    transform: scale(1.1);
    box-shadow: 0px 10px 50px 5px rgba(255, 76, 41, 0.7);
}

/* ----------------------food gallery------------------- */
.card-top {
    width: 14rem !important;
    height: 14rem !important;
    margin-top: -5rem;
    border: 9px solid#2A2A2A;
    border-radius: 50%;
}

.card {
    cursor: pointer;
    align-items: center;
    background: linear-gradient(141.87deg, #CDCBCC 10.83%, #E9E9E9 82.06%);
    box-shadow: inset -0.5px -4px 4px rgba(0, 0, 0, 0.03), inset 0.3px -4px 4px rgba(0, 0, 0, 0.06), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 4rem;
}

.card-top {
    transition: all .9s ease;
}

.card:hover .card-top {
    transform: scale(1.1);
}

.card-title {
    padding: .7rem 2rem;
}

.card h4 {
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding-left: 0.7rem;
}

.card h6 {
    padding-left: 0.7rem;
    color: #2A2A2A;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--main-regular-font);
}


/* start: Avatar */
.avatar-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    position: relative;
    transition: .2s;
}

.avatar:not(:first-child) {
    margin-left: -1.5rem;
}

.avatar:hover {
    z-index: 1;
    transform: translateY(-.5rem);
}

.avatar img {
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .1);
}

/* end: Avatar */
.stars svg {
    font-size: 2.2rem;
    color: #FFAB04;
}

.gallery p {
    text-align: center;
    color: #2A2A2A;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--main-regular-font);
}

.gallery p svg {
    font-size: 2.5rem;
    color: var(--main-color);
}

/* -----------Searchbar---------- */
.search {
    margin: 6rem 0;
}

.search_title {
    display: grid;
    grid-template-columns: 60% 30%;
}

.search_title h1 {
    color: black;
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--main-heading-font);
    text-align: end;
}

.searchbar {
    display: flex;
    justify-content: center;
}

.searchbar input {
    border: none;
    border-radius: 20px;
    padding: .8rem 3rem;
    margin: 0 3.3rem;
    font-size: 1.3rem;
    background-color: #f2f2f2;
}

.searchbar input:focus,
.searchbar input.active,
.searchbar input:hover {
    border: 2px solid red !important;
}

.p_holder {
    padding: 2rem;
    background: #ecd4d4;
    border-radius: 10px;
}

p {
    font-size: 1.6rem;
    font-weight: 700;
}

p span {
    color: red;
    display: flex;
    justify-content: center;
}

.ResultHolder {
    width: 250px;
    height: 30px;
}

/* --------------Item Single-------- */
.item_div {
    position: relative;
}

.overlay {
    background: linear-gradient(141.87deg, rgba(205, 203, 204, 0.88) 10.83%, rgba(233, 233, 233, 0.88) 82.06%);
    box-shadow: inset -0.5px -4px 4px rgba(0, 0, 0, 0.03), inset 0.3px -4px 4px rgba(0, 0, 0, 0.06), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
    /* height: 18rem; */
    /* width: 99%; */
    left: 0;
    margin-top: -50px;
    padding: 6rem;
    right: 0;
    position: absolute;
    /* margin-top: -55px; */
    /* bottom: 0px; */
    border-radius: 9rem 9rem 1rem 1rem;
    z-index: 1;

}

.overlay .play_icon {
    font-size: 5rem;
    margin-top: -79px;
    text-align: end;
    position: absolute;
    right: 90px;
    cursor: pointer;
}

.overlapping {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.overlapping h2 {
    color: black;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: var(--main-heading-font);
}

.overlapping h6 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--main-regular-font);
    color:#2A2A2A
}

.overlapping .stars {
    display: flex;
    justify-content: center;
}

.in_icon {
    font-size: 2.6rem !important;
    color: black;
    margin-right: .5rem;
}

.ingrendient,
.instruction {
    margin: 9rem 0 2rem;
    background: linear-gradient(141.87deg, #CDCBCC 10.83%, #E9E9E9 82.06%);
    box-shadow: inset -0.5px -4px 4px rgba(0, 0, 0, 0.03), inset 0.3px -2.5px 4px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    border-radius: 1.5rem;
    position: relative;
    cursor: pointer;
}

.ingrendient h1,
.instruction h1 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

.ingrendient h1 .show_icon,
.instruction h1 .show_icon  {
    position: absolute;
    font-size: 3rem !important;
    right: 3rem;
    color: var(--main-color);
    cursor: pointer;
}

.show_ingrendient,
.show_instruction  {
    padding: 2rem;
    position: relative;
}

.show_ingrendient p,
.show_instruction p{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 0;
    display: flex;
    font-family: var(--main-regular-font);
    color:#2A2A2A;
}

.show_ingrendient p svg {
    font-size: 2.3rem !important;
    margin-right: .5rem;
}

.show_ingrendient  span {
    position: absolute;
    right: 5rem;
    color: black;
}

.show_ingrendient p:not(:nth-last-child(1)) {
    border-bottom: 0.3px solid #BABABA !important;

}

.instruction {
    margin: 2rem 0;
}

.ingred{
    display: flex;
}
.modal {
    --bs-modal-width: 55% !important;
}
.modal-content{
    background: linear-gradient(141.87deg, rgba(205, 203, 204, 0.88) 10.83%, rgba(233, 233, 233, 0.88) 82.06%);
    box-shadow: inset -0.5px -4px 4px rgba(0, 0, 0, 0.03), inset 0.3px -4px 4px rgba(0, 0, 0, 0.06), inset 0px -4px 4px rgba(0, 0, 0, 0.25);
  
}

.modal-header .btn-close {
    font-size: 2rem !important;
}

/* --------contact========= */
.contact h4{
    color: black;
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--main-heading-font);
}
.contact form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact .form-group {
    padding-bottom: 1rem;

}

.contact .form-group input {
    border-color: var(--main-color);
    background: none !important;
    transition: all .9s ease;
    padding: 0.9rem 5rem;
    font-size: 1.2rem;
    border-radius: 8px !important;

}
.contact .form-group .msg_input{
    height: 8rem;
}

.contact .form-group input:hover {
    transition: all .9s ease;
    transform: scale(1.1);
}

.contact .sent-btn {
    color: #fff;
    border-radius: 14px;
    background-color: var(--main-color);
    padding: 10px 25px;
    font-size: 1.4rem;   
    font-weight: 500;
    font-family: var(--regular-font);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: all .9s ease;
}

.sent-btn:hover {
    transition: all .9s ease;
    transform: translateY(-10px);
    box-shadow: 0px 10px 50px 5px rgba(255, 76, 41, 0.7);
}

/* ==========About========-------- */
.about .about_img{
    width: 60% ;
}
.about h2{
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--main-heading-font);
}
.about h4{
    color: black;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}
.about h4 span{
    font-family: 'Passions Conflict', cursive;
    font-size: xx-large;
}
.about h6 span,.about p span{
    font-family: 'Moo Lah Lah';
    font-style: normal;
    display: inline;
    font-weight: 400;
    font-size: 2.7rem;
    line-height: 49px;
    color: #D31B27;
}
.about h6{
    color: black;
    font-size: 2rem;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--main-regular-font);
    padding: 5px 0;  
}
.about p{
    color: #2A2A2A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 24px;
    font-family: var(--main-regular-font);
    padding: 10px 0;
}

.about .social_row{
    background-color: var(--main-color);
    padding: 10px 0;
}
.social{
    margin: 2.5rem 0;
}
.social-icon{
    font-size: 3rem !important;
    margin: 0.5rem;
    cursor: pointer;
    color: white;
    transition: all .9s ease;
}
.social-icon:hover{
    transition: all .9s ease;
    transform: scale(1.2);
    box-shadow: 0px 24px 50px rgba(250, 240, 241, 0.9)
}

.subscribe_col h6 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.subscribe_col form input {
    width: 100%;
    max-width: 257px;
    height: 37px;
    border: 0;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1.5rem;
    line-height: 28px;
    color: #5a626d;
    font-weight: 400;
    font-family: "Inter";
    padding-left: 25px;
}

.subscribe_col form .submit_btn {
    width: 60px;
    height: 37px;
    border-radius: 0 4px 4px 0;
    display: inline-block;
    position: absolute;
    background: var(--main-secondary-color);
    border: 0;
    text-align: center;
    color: transparent;
}

.about .card_about {
    justify-content: center !important;
    border: none !important;
    background: #FFFFFF;
    box-shadow: 0px 24px 50px rgba(162, 162, 170, 0.07)
}
.card_about:hover {
    box-shadow: 0px 4px 40px 5px rgba(255, 76, 41, 0.2);
}

.card_about h6{
    padding-left: 0.7rem;
    color: #2A2A2A;
    font-size: 1.6rem;
    padding: 0px;
    font-weight: 600;
    font-family: var(--main-regular-font);
}
.card_about .card-text {
    color:var(--main-secondary-color);
    padding: 0px;
    font-size: 1.3rem;
    font-weight: 450;
}




@media only screen and (max-width:991px) {
    .search_title {
        grid-template-columns: none;
    }

    .search_title h1 {
        text-align: center;
    }

    .overlay .play_icon {
        margin-top: -75px;
    }
    .modal {
        --bs-modal-width: 75% !important;
    }
}

/* media query */
@media only screen and (max-width:1400px) {
    html {
        font-size: 60% !important;
    }
}

@media only screen and (max-width:1200px) {
    html {
        font-size: 58% !important;
    }
}


@media only screen and (max-width:998px) {
    html {
        font-size: 55% !important;
    }
}

@media only screen and (max-width:768px) {
    html {
        font-size: 45% !important;
    }

    .overlay .play_icon {
        margin-top: -60px;
    }
}
@media only screen and (max-width:575px) {
    .modal {
        --bs-modal-width: 75% !important;
    }
}

@media only screen and (max-width:550px) {
    .overlay {
        margin-top: -40px;
        border-radius: 5rem 5rem 0 0;
    }
}

@media only screen and (max-width:400px) {
    .overlay {
        padding: 6rem 4rem;
        margin-top: -37px;
    }

    .overlay .play_icon {
        right: 50px;
    }
}